{% extends 'base.html.twig' %}

{% block title %}Les livres{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <h1 class="m-5">La liste des livres</h1>
        <a class="btn btn-success m-5 float-right" href="{{ path('books_new') }}">Ajouter un nouveau</a>
    </div>
    <div class="table mb-5 d-flex justify-content-center text-left flex-wrap">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
    <table class="table w-75">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col" scope="row">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Auteur</th>
                <th scope="col">Statut</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.category.category }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.status }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('books_show', {'id': book.id}) }}">Détail</a>
                    <a class="btn btn-secondary" href="{{ path('books_edit', {'id': book.id}) }}">Modifier</a>
                    <div class="btn">{{ include('books/_delete_form.html.twig') }}</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun resultat trouvé</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
